<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Create a new task</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body class="d-flex flex-column h-100">
<div th:replace="fragments/header :: header">
</div>
<main role="main" class="flex-shrink-0">
    <div class="container">
        <div class="starter-template">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <form th:object="${task}" th:action="@{/task/}" method="post">
                        <input type="hidden" th:field="*{id}"/>
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h1 class="panel-title">Task</h1>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-3 form-group">
                                        <label>Name:</label>
                                        <input type="text" class="form-control" th:field="*{name}"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 form-group">
                                        <label>Description:</label>
                                        <input type="text" class="form-control" th:field="*{description}"/>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<div th:replace="fragments/footer :: footer">
</div>
<div th:replace="fragments/footer :: js-scripts">
</div>
</body>
</html>