<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Show task</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body class="d-flex flex-column h-100">
<div th:replace="fragments/header :: header">
</div>
<main role="main" class="flex-shrink-0" id="content">
    <h1 th:text="#{task} + '#' + ${task.id}">Task #123</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h5>Id</h5>
            </div>
            <div class="col-md-9">
                <p th:text="${task.id}">1</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h5 th:text="#{tasks.name.label}">Name</h5>
            </div>
            <div class="col-md-9">
                <p th:text="${task.name}">Test</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h5 th:text="#{tasks.description}">Description</h5>
            </div>
            <div class="col-md-9">
                <p th:text="${task.description}">Test</p>
            </div>
        </div>
    </div>
</main>
<div th:replace="fragments/footer :: footer">
</div>
<div th:replace="fragments/footer :: js-scripts">
</div>
</body>
</html>