<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Title</title>
</head>
<body>
<footer class="footer mt-auto py-3" th:fragment="footer">
    <div class="container">
        <span class="text-muted">Designed by Jagoda Wieczorek</span>
    </div>
</footer>
<div th:fragment="js-scripts">
    <script src="webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</div>
</body>
</html>