<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Header template</title>
</head>
<body>
    <div th:fragment="header">
        <header class="navbar navbar-expand navbar-dark bg-primary">
            <a class="navbar-brand" href="/">TODO Application</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a th:text="#{tasks}" class="nav-link" th:href="@{/tasks}">Tasks</a>
                    </li>
                    <li class="nav-item">
                        <a th:text="#{contact}" class="nav-link" th:href="@{/contacts}">Contact</a>
                    </li>
                </ul>
            </div>
        </header>
    </div>
</body>
</html>